button {
	display: block;
	margin: 200px auto;
	width: 400px;
	height: 200px;
	border: 15px solid #0096FA;
	color: #0096FA;
	background-color: #FFF;
	font-size: 4em;
	text-align: center;
	vertical-align: middle;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
button:hover {
	color: #FFF;
	background-color: #0096FA;
}
#play-ground {
	display: none;
	position: relative;
	margin: 20px auto;
	width: 400px;
	height: 500px;
	overflow: hidden;
}
#play-ground::after {
	content: '';
	background: url('../img/game/bg0.jpg');
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
}
.rotate {
	-webkit-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#face {
	position: relative;
	width: 63px;
	height: 50px;
	top: 450px;
	left: 168px;
}
#result {
	position: fixed;
	top: 10px;
	right: 10px;
	text-align: right;
}
#result label {
	margin-bottom: 5px;
	display: block;
}
#result input {
	width: 30px;
	text-align: center;
}