html{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	background: url(planet3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#game{
	 position:absolute;
     width:500px;
     height:500px;
     background:black;
	 
}
ul{
	list-style-type: none;
	overflow: hidden;
	border:2px solid;
	border-radius:25px;
	color: #FFCC33;
}
.justtextnav{
	font: 35px arial,sans-serif;
	float:left;
	padding-left: 150px;
	color: #FFCC33;
	padding-top: 35px;
	padding-bottom: 30px;
	border-right: 3px solid #FFCC33;
	background: url(planet31.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	
}